<div class="container">
  <h1>My Profile</h1>
  <p class="notice bg-success"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<div class="panel panel-default">
  
  <div class="panel-heading">
     <%= image_tag(@profile.avatar, alt: "default avatar", class: 'img-responsive img-rounded center-block', :style=>"max-width:250px") %>
  </div>
  
  <div class="panel-body text-center">
    <p>
      <strong>First name:</strong>
      <%= @profile.firstname %>
    </p>
    
    <p>
      <strong>Last name:</strong>
      <%= @profile.lastname %>
    </p>
    
    <p>
      <strong>Address:</strong>
      <%= @profile.address %>
    </p>
    
    <p>
      <strong>User:</strong>
      <%= @profile.firstname %>
      <%= @profile.lastname %>
    </p>
  </div>

<div class="panel-footer text-center">
    <%= link_to 'Edit Profile', edit_profile_path(@profile), class:'btn btn-warning'%>
  
  			<!-- displaying a link to all profiles if user is admin -->
  	<% if user_signed_in? && current_user.admin?%>
  		
			<%= link_to '<< Back to all profiles', profiles_path, class: 'btn btn-success' %>
		
		<% end %>
		
		</div>

</div>

</div>

