<div class="container">
  
<h1> Bookings for <%= @zone.name %></h1>

<!-- search bookings by booking ID-->
<%= form_tag(zone_bookings_path, :method => "get", class: "form-inline") do %>
  <%= text_field_tag :search, nil, :placeholder => "Search by Booking ID", class: "form-control"%>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<br>
<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table table-striped">
  <tr>
    <th>Booking ID</th>
    <th>Booked by</th>
    <th>Arrive at</th>
    <th>Duration</th>
    <th>Cost</th>
    <th>Booked on</th>
    <th>Show details</th>
    <th>Amend</th>
    <th>Cancel</th>
  </tr>
  
  <!--running through all bookings and displaying them-->
  <% @bookings.each do |booking| %>
  
  <!--displays only the bookings for the logged in user or all the bookings for an admin user-->
  <% if current_user.id == booking.user_id || current_user.admin? %>
  <tr>
    <td><%= booking.id %></td>
    <td><%= booking.user_id %></td>
    <td><%= booking.start_time.strftime('%e %b %Y %H:%M%p') %></td>
    <td><%= booking.duration %> hours </td>
    <td><%= icon('euro', class:'strong')%> <%= (booking.cost) %></td>
    <td><%= booking.created_at.strftime('%e %b %Y %H:%M%p') %> </td>
    
    <td><%= link_to "Show Details", zone_booking_path(@zone, booking), class:'btn btn-info' %></td>
    <td><%= link_to "Amend", edit_zone_booking_path(@zone, booking), class:'btn btn-warning' %></td>
    <td><%= link_to "Cancel", zone_booking_path(@zone, booking), data: { confirm: 'Are you sure?' }, method: :delete, class:'btn btn-danger' %></td>
    
  </tr>
  <% end %>
  <% end %>
</table>
    </div>
  </div>
</div>

<%= link_to 'Book Now', new_zone_booking_path, class: 'btn btn-success' %>
<%= link_to "<< Back to Zones", zones_path, class:'btn btn-warning'%>
</div>