
<div class="container">
    <%= render 'errors' %>
    <h1>Create booking for <%= @zone.name %></h1>
    
    <%= render 'form' %> 

<%= link_to '<< Back to all bookings', zone_bookings_path(@zone), class:'btn btn-success' %>
<%= link_to '<< Back to all zones', zones_path, class:'btn btn-warning' %>
</div>

  

