<br>
<div class="container">
 <div class="panel panel-success">
<div class="panel-heading">
 <h1>Booking Details</h1>
 </div>

 
 <div class="panel-body">
  
  <p>Your booking is <strong>confirmed</strong> for: </p>
  
  <p><strong><%= @zone.name %> - <%= @zone.description %> </strong></p>
 
  <p>Please arrive on <strong> <%= @booking.start_time.strftime('%e %b %Y') %>
  @ <%= @booking.start_time.strftime('%H:%M%p') %> </strong>  </p>
  
  <p>Your have booked <%= @zone.name %> for 
   <%= @booking.duration %> hours.
  </p>

  <p>The total cost is:  <%= icon('euro', class:'strong')%> <%= (@booking.cost) %> </p>
  <p> <strong> These are the extra features ordered: </strong><%= @booking.description %></p>
 
 </div>
 
 <div class="panel-footer">
<%= link_to 'Edit booking', edit_zone_booking_path(@zone, @booking), class:'btn btn-warning' %> 
<%= link_to '<< Back to all bookings', zone_bookings_path(@zone), class:'btn btn-success' %>
</div>

 </div>
</div>

