<div class="container">
    <!--checks what type of user is logged in and diplays the adequate heading-->
    <% if current_user.admin? %>
        <h1>Listing All Bookings</h1>
    <% else %>
        <h1> Bookings for <%= current_user.profile.firstname %> <%= current_user.profile.lastname %></h1>
    <% end %>
    
    <br>
<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Zone</th>  
                <th>Arrive at</th>
                <th>Cost</th>
                <th>Description</th>
                <% if current_user.admin? %>
                    <th>Booked by</th>
                    <th>Booking Created on</th>
                <% end %>
                
                <th>Amend</th>
                <th>Cancel</th>
            </tr>
            
            
            
            <!--using 2 for loops to iterate through all bookings and zones and builds up a table-->
          	<% for booking in Booking.all.where('end_time >= ?', Time.now).order(:start_time) %> 
          	
          	<!--ensures that booking from the past are not displayed-->
	            <% for zone in Zone.all.order(:name) %>
	                <tr>
	                    <% if (booking.user_id == current_user.id || current_user.admin?) && (zone.id == booking.zone_id) %>
		                    <td><strong><%= zone.name %></strong></td>
		                    <td><%= booking.start_time.strftime('%e %b %Y %H:%M%p')%></td>
	                        <td><%= icon('euro', class:'strong')%> <%= booking.cost %></td>
	                        <td><%= booking.description %></td>
	                    <% end %>
	                    <% if current_user.admin? && (zone.id == booking.zone_id) %>
	                        <td>User id <%= booking.user_id %></td>
	                        <td><%= booking.created_at.strftime('%e %b %Y %H:%M%p') %></td>
	                    <% end %>
	                    <!--only the user who created the booking or an admin have the right to edit or cancel a booking-->
	                    <% if (booking.user_id == current_user.id || current_user.admin?)  && (zone.id == booking.zone_id)%>
	                    
	                        <td><%= link_to "Amend", edit_zone_booking_path(zone, booking), class:'btn btn-warning' %></td>
                            <td><%= link_to "Cancel", zone_booking_path(zone, booking), data: { confirm: 'Are you sure?' }, method: :delete, class:'btn btn-danger' %></td>
	           
	                    <% end %>
	                </tr>
	               
	            <% end %>
	           
	        <% end %>  
	        
        </table>  
        </div>
        </div>
        </div>
    
    <br>
</div>