<div class="container">
<p id="notice"><%= notice %></p>


  
    <h1>Zones</h1>
  
    <% @zones.each do |zone| %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3><%= zone.name %></h3>
      </div>
      
      <div class="panel-body">
        <%= zone.description %>
      </div>
        
      <div class="panel-footer">
        
        <%= link_to 'Show All Bookings', zone_bookings_path(zone), class: 'btn btn-info' %>
        <%= link_to "Add booking", new_zone_booking_path(zone), class: 'btn btn-success' %>
        
        <% if current_user.admin? %>
        <%= link_to 'New Zone', new_zone_path, class: 'btn bg-success' %>
        <%= link_to 'Edit Zone', edit_zone_path(zone), class:'btn btn-warning' %>
        <%= link_to 'Delete Zone', zone, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end%>
     </div>
    </div>
    <% end %>
  
</div>