<div class="container">
<p class="notice bg-success"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<p>
  <strong>Name:</strong>
  <%= @zone.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @zone.description %>
</p>

<%= link_to 'Edit', edit_zone_path(@zone), class:'btn btn-warning' %>
<%= link_to '<< Back to all zones', zones_path, class:'btn btn-success' %>
</div>