<!DOCTYPE html>
<html>
<head>
  <title>VR WORLD</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>

  <%= render 'shared/navbar' %>
  
<div class="container">
  <div id="notice" class="bg-success"><%= notice %></div>
  <div class="bg-danger"><%= alert %></div>
</div>

<%= yield %>

<br>

<%= render 'shared/footer' %>

</body>
</html>
